@import "~styles/theme.scss";

.services-list__item {
    width: min(100%, 14rem);
    height: auto;
}

.services-list__box {
    width: 100%;
    height: 100%;
    padding: $spacing-md;
    border: none;
    border-radius: $border-radius-primary;
    display: grid;
    grid: repeat(2, min-content) / 100%;
    row-gap: $spacing-sm;
    background-color: $color-main;
    box-shadow: 0 0.125rem 0.25rem $color-brand;
}

.services-list__header {
    width: max-content;
    height: min-content;
    padding: $spacing-sm;
    margin-inline: auto;
    border-radius: 100%;
    background-color: $color-secondary;
    box-shadow: 0 0.125rem 0.25rem $color-brand;
}

.services-list__img {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
    display: block;
}

.services-list__text {
    color: $color-primary;
    font: $font-xs;
    text-align: center;

    &-- {
        &title {
            color: $color-brand;
            font: $font-lg;
        }
    }
}