$color-brand: #872bff;
$color-main: #fafafa;
$color-primary: #112b3c;
$color-secondary: #eee9e9;
$color-shadow-black: rgba(0, 0, 0, 0.24);

$max-content-width: 90rem;

$breakpoint-tny: 20rem;
$breakpoint-xs: 30rem;
$breakpoint-sm: 36rem;
$breakpoint-md: 48rem;
$breakpoint-lg: 62rem;
$breakpoint-xl: 75rem;
$breakpoint-xxl: 90rem;
$breakpoint-huge: 120rem;

$spacing-tny: 0.125rem;
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 3rem;
$spacing-huge: 4rem;
$spacing-giga: 6rem;
$spacing-tera: 8rem;
$spacing-peta: 12rem;

$font-xs: normal 500 0.75rem / normal "Barlow", "sans-serif";
$font-sm: normal 500 0.875rem / normal "Barlow", "sans-serif";
$font-md: normal 400 1rem / normal "Barlow", "sans-serif";
$font-lg: normal 500 1.25rem / normal "Barlow", "sans-serif";
$font-xl: normal 500 1.5rem / normal "Barlow", "sans-serif";
$font-xxl: normal 700 1.875rem / normal "Barlow", "sans-serif";
$font-huge: normal 700 2.25rem / normal "Barlow", "sans-serif";

$scroll-bar-size: 0.75rem;
$border-size-primary: 0.125rem;
$border-size-secondary: 0.5rem;

$border-radius-primary: 0.5rem;
$border-radius-secondary: 10rem;

$icon-size: 1.75rem;

$time-primary: 0.25s;
$time-tertiary: 10s;