@import "~styles/theme.scss";

.tour-packages-list__item {
    width: 8rem;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-xs $spacing-sm;
    justify-content: space-evenly;
}

.tour-packages-list__box {
    width: max-content;
    height: min-content;
    display: grid;
    grid: min-content / repeat(2, max-content);
    column-gap: $spacing-tny;
    align-items: center;
}

.tour-packages-list__img {
    width: 100%;
    height: min-content;
    border-radius: $border-radius-primary;
}

.tour-packages-list__text {
    color: $color-primary;
    font: $font-md;
    text-align: center;

    &-- {
        &sm {
            font: $font-xs;
        }
    }
}